[Desktop Entry]
Name=EzzCloud
Comment=SoundCloud music player
Exec=ezzcloud
Icon=io.github.inkerov.EzzCloud
Type=Application
Categories=Audio;Music;Player;
Keywords=soundcloud;ezzcloud;music;player;
